body{
    width: 100%;
    height: 100%;
}

* {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif !important;/* <-- fonts */
}

body{
    background: #1F3B4D;
  }
  .btn{
    background-color: #081220  !important;
    border-radius: 8px;
  }
  .btn:hover {
  background-color: #343a40 !important; 
  color: white;
}
  .card{
    background-color:#343a40;
  }
  tr{
    background-color:#00022E;
    color: white;
  }